.name {
  background-color: rgb(241, 241, 241);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-content {
  margin-left: 460px;
  margin-top: 6%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

hr {
  width: 90%;
}
.sidebar {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 2%;
  width: 450px;
  height: 110%;
  position: absolute;
  top: 20;
  left: 20;
  background-color: rgb(241, 241, 241);
  padding-top: 20px;
  border-right: 1px solid black;
}

img {
  width: 10%;
  border-radius: 50%;
  margin-left: 80%;
  margin-top: 1%;
  position: absolute;
}
